* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', Georgia, serif;
    line-height: 1.6;
    color: #222;
    background-color: white;
    background-image: url("pattern.png");
    background-repeat: repeat;
}

.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

h1.title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 20px 0;
    color: #333 !important;
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    word-spacing: 4px;
    margin: 15px 0;
    color: #444;
}

/*CSS for Main Page*/

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #1C4D8D;
}

.carousel-indicators button {
    background-color: white !important;
}

.carousel-indicators button.active {
    background-color: #1C4D8D !important;
}

#blogs a {
    color: #000000;
    text-decoration: none;
}

#blogs a:hover {
    color: #1C4D8D;
}

/*Form CSS*/
.form {
    border: 1px solid #ababab;
    border-radius: 10px;
    padding: 30px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px 20px;
}

.form label {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #1C4D8D;
    border: 1px solid #1C4D8D;
    color: #ffffff;
    transition: 0.5s;
}

input[type="submit"]:hover {
    color: #1C4D8D;
    background-color: #ffffff;
}

/*CSS For Blog Page*/
.gallery,
.gallery-stack {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.gallery-out {
    text-align: center;
}

.gallery img,
.gallery-stack img {
    height: 300px;
    width: 200px;
    border: 3px solid #ff8da1;
    border-radius: 10px;
}

figure.artwork {
    padding-top: 50px;
}

figure.artwork.relative {
    right: 200px;
    position: relative;
}

figure.artwork.absolute {
    position: absolute;
    top: 0;
    right: 200px;
}

figure.artwork.sticky {
    position: sticky;
    top: 0;
    display: inline;
}

figure.artwork.static {
    position: static;
}

figure.artwork.hidden-player {
    display: none;
}

.gallery-stack {
    display: block;
    padding: 80px 0;
    height: 550px;
}

.gallery-stack h2 {
    padding-bottom: 15px;
}

.gallery-stack img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

figure.z-box {
    position: absolute;
    left: 43%;
    transition: transform .2s;
}

figure.z-box:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

figure.z-box.z-n1 {
    left: 30vw;
}

figure.z-box.z-n1 figcaption {
    margin-top: 45px;
    margin-left: -65px;
}

figure.z-box.z-0 {
    left: 35vw;
}

figure.z-box.z-1 {
    left: 40vw;
}

figure.z-box.z-2 {
    left: 45vw;
}

figure.z-box.z-3 {
    left: 50vw;
}

figure.z-box.z-3 figcaption {
    margin-top: 45px;
    margin-right: -65px;
}

figure.z-box.z-n1 img,
figure.z-box.z-3 img {
    height: 260px;
    margin-top: 20px;
}